<% content_for :title, "Apartment Cleaning Service Mountain View Maid Service Palo Alto" %>

<div class="navbar navbar-inverse navbar-static-top" style="color:black;">
      
        <div class="navbar-header">
        <a class="navbar-brand" href="/" style="font-family: 'Lato', sans-serif; font-weight: 100; font-size: 20px; margin: -7px;"><strong><%= image_tag ("newlogo5.png") %></strong></a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right" style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 3px; color:mediumblue; margin-top: 18px; margin-right: 9px;">
            <li><a style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;" href="/prices"><strong style= "font-size: 18px;">Services/Rates</strong></a></li>
            <li><a style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;" href="/area"><strong style= "font-size: 18px;">Where we serve</strong></a></li>
            <li><a style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;" href="/faqs"><strong style= "font-size: 18px;">FAQ</strong></a></li>

            <li class="navbar-text"><strong style= "font-size: 18px;">(310) 910-2221</strong></li>



    
          </ul>


        </div>

    </div>


<!-- Carousel
================================================== -->
<div id="myCarousel">
  <div class="carousel-inner">
    <div class="item active">
<iframe src="https://mapsengine.google.com/map/embed?mid=zX6GIp8byws8.koBPtY0GNRuc" width="100%" height="480"></iframe>        <div class="carousel-caption" id="table" style="padding-top: 5px; width: 61%; margin-bottom: 30px;">

        
  </div>
</div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <div class="text-center" style="padding-bottom: 15px; text-align:center; "> 
    <h6 style="font-family: 'Lato', sans-serif; font-weight: 900; font-size: 40px;"> Areas Served.</h6>
    <div class="row">
      <div class="col-md-5 col-md-offset-3">
        <ul class="fa-ul list" style="font-size: 20px; text-align: left">
          <li><i class="fa-li fa fa-heart"></i><h2><strong>Santa Monica</strong></h2></li>
          <li><i class="fa-li fa fa-heart"></i><h2><strong>Culver City</strong></h2></li>
          <li><i class="fa-li fa fa-heart"></i><h2><strong>Venice</strong></h2></li>
          <li><i class="fa-li fa fa-heart"></i><h2><strong>Beverly Hills</strong></h2></li>
          <li><i class="fa-li fa fa-heart"></i><h2><strong>Brentwood</strong></h2></li>
          <li><i class="fa-li fa fa-heart"></i><h2><strong>Westwood</strong></h2></li>
          <li><i class="fa-li fa fa-heart"></i><h2><strong>Silverlake</strong></h2></li>
          <li><i class="fa-li fa fa-heart"></i><h2><strong>Pacific Palisades</strong></h2></li>

          <li><i class="fa-li fa fa-coffee"></i><h2><strong>Coming Soon: San Francisco</strong></h2></li>


        </ul>
      </div> 
    </div>  
  </div> 






  <!-- FOOTER -->
  <footer style="height: 20px;">
    <p>Conscious Maids LLC</p>
  </footer>

</div><!-- /.container -->