

<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name == :notice ? "success" : "error" %>", style="width: 100%">
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= content_tag :div, msg, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>


<h1>confirmation Page</h1>



<script type="text/javascript" src="https://www.formstack.com/forms/js.php?1623950-zGhmPRCnfQ-v3"></script><noscript><a href="https://www.formstack.com/forms/?1623950-zGhmPRCnfQ" title="Online Form">Online Form - Checkout Page</a></noscript><div style="text-align:right; font-size:x-small;"><a href="http://www.formstack.com?utm_source=h&utm_medium=jsembed&utm_campaign=fa&fa=h,1623950" title="Online Form Maker">Online Form Maker</a></div>