<% content_for :title, "Stanford Home Cleaning Santa Clara Green Maid Service" %>

<div class="navbar navbar-inverse navbar-static-top" style="color:black;">
      
        <div class="navbar-header">
        <a class="navbar-brand" href="/" style="font-family: 'Lato', sans-serif; font-weight: 100; font-size: 20px; margin: -7px;"><strong><%= image_tag ("Logo.jpg") %></strong></a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right" style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 3px; color:mediumblue; margin-top: 18px; margin-right: 9px;">
            <li><a style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;" href="/prices"><strong style= "font-size: 18px;">Services/Rates</strong></a></li>
            <li><a style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;" href="/area"><strong style= "font-size: 18px;">Where we serve</strong></a></li>
            <li><a style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;" href="/faqs"><strong style= "font-size: 18px;">FAQ</strong></a></li>

            <li class="navbar-text"><strong style= "font-size: 18px;">(310) 910-2221</strong></li>



    
          </ul>


        </div>

    </div>


<!-- Carousel
================================================== -->
<div id="myCarousel">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag ("woodlv.jpg"), :style => "width: 100%; height:700px"%>  
      <div class="carousel-caption" style="left:15px; font-style:italic ">
  	      <h1> "YOU'RE 60 SECONDS AWAY FROM AN AWESOME CLEANING"</h1>
  	</div>	
    </div>
  </div>
</div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">
  <h1 style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 100; font-size: 30px; padding-bottom: 20px; text-shadow: 0 2px 7px rgba(0, 0, 0, 0.6);
              "><i class="fa fa-check-square"></i> OUR 200% MONEY BACK GUARANTEE
If you’re not happy, we come back and re-clean and if you still don’t think we did a good enough job to recommend us we issue a full refund! </h1>

  <h2 style="text-align:center; font-family: 'Lato', sans-serif; font-weight: 100; font-size: 30px; padding-bottom: 20px; text-shadow: 0 2px 7px rgba(0, 0, 0, 0.6);
              "><i class="fa fa-check-square"></i> SAFE SHOPPING GUARANTEE
You'll pay nothing if unauthorized charges are made to your credit card as a result of booking with us.</h2>


     
  


  <!-- FOOTER -->
  
</div>  

<div class="container">
 <script type="text/javascript" src="https://www.formstack.com/forms/js.php?1623950-zGhmPRCnfQ-v3"></script><noscript><a href="https://www.formstack.com/forms/?1623950-zGhmPRCnfQ" title="Online Form">Online Form - Checkout Page</a></noscript><div style="text-align:right; font-size:x-small;"><a href="http://www.formstack.com?utm_source=h&utm_medium=jsembed&utm_campaign=fa&fa=h,1623950" title="Contact Form Generator">Contact Form Generator</a></div>
</div> 


 <footer>
    <p>Brave Maids LLC</p>
  </footer>














































