 <% content_for :title, "Los Angeles House Cleaning | Premium Maid Service San Gabriel" %>


    <script>
  $(function() {
    $( "#accordion" ).accordion({
        collapsible: true,
        autoHeight: false,

    });
  });
</script>

<div class="navbar navbar-inverse navbar-static-top" style="color:black;">
      
        <div class="navbar-header">
        <a class="navbar-brand" href="/" style="font-family: 'Lato', sans-serif; font-weight: 100; font-size: 20px; margin: -7px;"><strong><%= image_tag ("Logo.jpg") %></strong></a>
        </div>

        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav pull-right" style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 3px; color:mediumblue; margin-top: 18px; margin-right: 9px;">
            <li><a style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;" href="/prices"><strong style= "font-size: 18px;">Services/Rates</strong></a></li>
            <li><a style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;" href="/area"><strong style= "font-size: 18px;">Where we serve</strong></a></li>
            <li><a style="font-family: 'Lato', sans-serif; font-weight: 300; font-size: 15px;" href="/faqs"><strong style= "font-size: 18px;">FAQ</strong></a></li>

            <li class="navbar-text"><strong style= "font-size: 18px;">(310) 910-2221</strong></li>



    
          </ul>


        </div>

    </div>


<!-- Carousel
================================================== -->
<div id="myCarousel">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag ("interior.jpg"), :style => "width: 100%; height: 700px;" %>
        <div class="carousel-caption" id="table" style="padding-top: 5px; width: 61%; margin-bottom: 30px;">

        	<h1 style="font-size: 100px; margin-bottom:10px;">FAQ</h1>

        
  </div>
</div>
<!-- /.carousel -->


<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <div class="text-center" style="padding-bottom: 40px; text-align:center; "> 
    <h6 style="font-family: 'Lato', sans-serif; font-weight: 900; font-size: 40px;"> Frequently Asked Questions</h6>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">


			<div id="accordion" style="padding-bottom: 20px;">
			  <h3>How Will I Know Which Time to Choose?</h3>
			  <div>
			    <p>
			    Choose anytime between 8:30 and 4:30 pm and we will be in touch in less than 30 minutes (during business hours) to confirm if this date and time works.
			    </p>
			  </div>
			  <h3>How Easy is it to Book Online?</h3>
			  <div>
			    <p>
			    It really takes no more than 60 seconds. Simply fill out the booking form (get there by clicking on the big red buttons) and we’ll be in touch to confirm your date and time in less than 30 minutes. You can choose to pay with cash or you can checkout and pay instantly with a credit card through Stripe, and are processed though a fully secure 256 bit protocol. In addition, we have a full extended validation SSL security as well.  Booking through Brav Maids is safe and secure and we guarantee this.  Any unauthorized charges that are made to your card as a result of doing business with us will be fully refunded.
			    </p>
			  </div>
			  <h3> Who Provides the Supplies?</h3>
			  <div>
			    <p>
			    We bring all our own supplies.  If there are supplies that you would prefer us to use (for wood floors for example) feel free to let us know and we can use any supplies you leave out for us.
			    </p>
			  </div>
			  <h3>How Long will my cleaning take?</h3>
			  <div>
			    <p>
			    We usually estimate 1 hour per bedroom, but we do not specify a length of cleaning.  We clean until we are finished for a standard home and within reason.  For special cases like hoarders, or extremely large homes, we may adjust the estimate for fairness.
			    </p>
			  </div>
			</div>



    </div>  
  </div> 






  <!-- FOOTER -->
  <footer style="height: 20px;">
    <p>Brave Maids LLC</p>
  </footer>

</div><!-- /.container -->