<style>
.logo
{
    width:100%;
    background-color:#fff;
    text-align:center;
    padding:0px 0;
}
p{
    padding:6px 0;
    margin:0;
    }
.ui-header
{
    border-bottom:6px solid black;
}

</style>



<header data-role="header">
  <p style="text-align:center; font-family: Lato, sans-serif; font-weight: 300;">Conscious Maids</p>
  <div class="logo">
			<img src="themex/images/lv4.jpg" alt="Green Cleaning">
	  </div>

</header><!-- /header -->

	<div data-role="content">
		<h2 style="font-family: Lato, sans-serif; font-weight: 300; margin-bottom: 50px;">Top Quality Cleaning</h2 >
		<h3 style="font-family: Lato, sans-serif; font-weight: 300;"> this is a phone bitch!!</h3>
		<h3 style="font-family: Lato, sans-serif; font-weight: 300;"> this is a phone bitch!!</h3>
		<h3 style="font-family: Lato, sans-serif; font-weight: 300;"> this is a phone bitch!!</h3>
		<h3 style="font-family: Lato, sans-serif; font-weight: 300;"> this is a phone bitch!!</h3>

	</div><!-- /content -->

	<div data-role="footer">
		<h4 style="font-family: Lato, sans-serif; font-weight: 300;"> Page Footer</h4>
	</div><!-- /footer -->









